<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Contact</h2>

      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">No Telepon</th>
            <th scope="col">Email</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>

          <% if (contacts.length === 0) { %>
          <tr>
            <td colspan="5">
              <div class="alert alert-dark fw-bold" role="alert">
                Data contact masih kosong!
              </div>
            </td>
          </tr>
          <% } %>
          <% let no =1; %>
          <% contacts.forEach(contact => { %>
          <tr>
            <th scope="row"><%= no++ %> </th>
            <td><%= contact.nama%></td>
            <td><%= contact.noTelepon%></td>
            <td><%= contact.email%></td>
            <td>
              <a href="/contact/<%= contact.nama %> " class="badge bg-primary text-decoration-none"><i
                  class="bi bi-info-circle"></i> Detail</a>
            </td>
          </tr>
          <% }) %>

        </tbody>
      </table>

    </div>
  </div>
</div>